
<div class="comments">
  {{#each this}}
    <div class="card">
        <h5 class="card-header">Comment:</h5>

        <div class="comment card-body">
          
            <div class="comment">
                {{body}}
            </div>
            
            <div>
                -{{user.name}}, {{format_date created_at}}
            </div>
            
        </div>
        
    </div>
  {{/each}}
</div>