:root {
    --dark-color : #173F2E;
    --light-color : #13D3C3;
    --med-color : #545479;

}

* {
    text-align: center;
}

.container {
    background-color: var(--background);
}
#headermain {
    background-color: var(--light-color)
}

.btn {
    background-color: var(--med-color);
}

.link {
    color: white;
}

#login-btn {
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin: 100px;
    
}

#username {
    color: black
}

.btn {
    color: var(--light-color)
}

.card-header {
    background-color: var(--dark-color);
}

#postinfo {
    margin-left: 25%;
    
}