<div class="container">
    <div class="card">
        <h3 class="card-header">Edit Post</h3>
        <form class="card-body edit-post-form">
            {{!-- post title --}}
            <label for="post-title" class="form-label">Title</label>
            <input name="post-title" type="text" value="{{post.title}}" class="form-input" />

            {{!-- post description --}}
            <label class="form-label" for="content">Description</label>
            <input name="content" type="text" value="{{post.description}}" class="form-input" />
            
            <label class="form-label" for="content">Location</label>
            <input name="content" type="text" value="{{post.location}}" class="form-input" />

            <label class="form-label" for="content">Size</label>
            <input name="content" type="text" value="{{post.size}}" class="form-input" />



            <button type="submit" class="btn edit-post-btn">Update Post</button>
            <button type="button" class="delete-post-btn btn">Delete Post</button>
        </form>
    </div>
</div>
{{!-- add edit-post.js --}}
<script src="/js/edit-post.js"></script>

{{!-- add delete-post.js --}}
<script src="/js/delete-post.js"></script>

