<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        {{!-- post title --}}
        <label for="post-title" class="form-label">Title</label>
        <input name="post-title" type="text" value="{{post.name}}" class="form-input" />

        {{!-- post description --}}
        <label class="form-label" for="content">Description</label>
        <input name="content" type="text" value="{{post.description}}" class="form-input" />

        {{!-- post photos --}}
        {{!-- <label class="form-label" for="content">Add photos</label>
        <input name="content" type="text" value="{{picture.post_id}}" class="form-input" /> --}}


        <button type="submit" class="btn">Update Post</button>
        <button type="button" class="delete-post-btn btn">Delete Post</button>
    </form>
</div>

{{!-- add edit-post.js --}}
<script src="/javascript/edit-post.js"></script>

{{!-- add delete-post.js --}}
<script src="/javascript/delete-post.js"></script>

