<div>
  <div>Want to give back to your community, or even just get rid of extra junk in your closet? Feel like you don't have the same style as other sites? We hear you loud and clear.</div>

  <div>This is Community Closet, designed for selling extra clothing you have around the house, and even buying some new gear for cheap. We recommend clothing and other items that are closer to home for that, making your journey for used items an easier trek.</div>

  <div>How about it? Join us today.</div>
</div>