<div>
  <div>Want to give back to your community, or even just get rid of extra junk in your closet? We hear you loud and clear.</div>

  <div>This is Community Closet, designed for selling extra clothing you have around the house, and even buying some new gear for cheap.</div>

  <div>How about it? Join us today.</div>
</div>