{{!-- Login --}}

<div class="row justify-content-md-center gx-5" id="login-signup">
  <div class="col-lg-5">
      {{!-- Update Sign up to automatically log the user in and redirect to the timeline. Add check boxes to require the user to read a terms, but just in name. Have it be a modal with lorem ipsum organized in the format of a terms of use. Add code that emails the user about the registration. --}}
      <div class="container-md">
        <h2>Login</h2>

        <form class="form login-form">
          <div class="col">
            <label class="form-label" for="email-login">Email</label>
            <input class="form-control" type="text" id="email-login" required />
          </div>
          
          <div class="col">
            <label for="password-login">Password:</label>
            <input class="form-control" type="password" id="password-login" required />
          </div>

          <div class="col">
            <button class="btn btn-primary" type="submit">Log in</button>
          </div>
        </form>
      </div>
    </div>

    {{!-- Signup--}}
    
    <div class="col-lg-7">
      <div class="container-md">
         <h2>Sign Up</h2>

        <form class="form signup-form">
          <div class="col">
            <label class="form-label" for="name-signup">Name</label>
            <input class="form-control" type="text" id="name-signup" required />
          </div>

          <div class="col">
            <label class="form-label" for="email-signup">E-mail</label>
            <input class="form-control" type="text" id="email-signup" required />
          </div>

          <div class="col">
            <label class="form-label" for="password-signup">Password</label>
            <input class="form-control" type="password" id="password-signup" required />
          </div>

          <div class="col">
            <button class="btn btn-primary" type="submit">Sign up</button>
          </div>
        </form>
      </div>
  </div>
</div>

<script src="/js/login.js"></script>


