  <div class="card">
      <h3 class="card-header">Add a new listing</h3>

      <form class="card-body new-post-form" id="new-post-form">
          <label for="post-title" class="form-label">Title</label>
          <input type="text" id="post-title" name="post-title" class="form-input" />

          <label class="form-label" for="content">Description</label>
          <input id="content" name="content" class="form-input" />

          <label class="form-label" for="content">Location</label>
          <input id="content" name="content" class="form-input" />

          <label class="form-label" for="content">Size</label>
          <input id="content" name="content" class="form-input" />

      
{{!-- adding a picture --}}
  <div class="form-wrapper">
      <form
        action="/api/pictureRoutes/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          id="img-input-form"
          type="file"
          name="upl"
          accept=".png, .jpg"
        />
        <input id="saveBtn" type="submit" value="Save" />
      </form>
    </div>


          <button type="submit" class="btn">Create Post</button>
      </form>
  </div>

{{!-- add add-post.js --}}








<script src="/js/add-post.js"></script>