{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-post-info post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/profile/new">Create A New Post!</a></button>

{{!-- add add-post.js --}}
<script src="/javascript/add-post.js"></script>