{{#if posts.length}}

<div>

  <h2>Your Posts</h2>
  
    {{#each posts as |post|}}

      {{> profile-postinfo post}}

    {{/each}}

</div>
{{/if}}



<button class="btn btn-primary" type="button"><a class="link" href="/new-post">Create A New Post!</a></button>

<script src="/js/add-post.js"></script>