<div class="card">
      <h3 class="card-header">New User Sign Up</h3>
      <form id="signup-form" class="card-body">
        <p> Hey there! Looks like you need an account, Create your new account here!</p>
        <label for="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-input" />


        <label class="form-label" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="form-input" />

        <button type="submit" class="btn">Signup!</button>
        <a class="login-link" href="/login">Log in</a>
      </form>
    </div>

<script src=""></script>