<div>
  {{> post-info post}}

  {{#if logged_in}}
    <div class=" container-fluid">
      <div class="card comment-card">
        
        <h3 class="card-header"></h3>

        <form class="card-body comment-form" id="comment-form">
          <label class="form-label">{{name}}</label>
          
          <div class="row g-1">
            <div class="col-8">
              <input id="comment" name="comment-body" class="form-control custom-form-control" placeholder="Leave your comment"/>
            </div>

            <div class="col-4">
              <button type="submit" class="btn btn-primary col-auto">Submit</button>
            </div>
          </div>
        </form>
      </div>
      {{/if}}

        {{> comments post.comments}}

    </div>
  {{#if logged_in}}
    <script src="/js/comment.js"></script>
  {{else}}
    <p>Log in to post comments</p>
  {{/if}}
</div>



